body {
  background-color: black;
}
.background {
  background: url(public/hi-res-rain-smaller.png);
  min-width: 100%;
  min-height: 600px;
  margin: auto 0;
  margin-top: -20px;
}
.header-text {
  margin: 50px;
  padding: 50px;
  color: white;
  text-align: center;
  background-color: rgba(255,255,255,.2);
}
h1 {
  color: white;
}
img {
  border: 5px grey solid;
  margin: 0px;
}
.lower {
  background-color: black;
}
.main-img {
  margin: 0px 30px 50px 30px;

}
.mission {
  text-align: center;
  margin: 50px;
  color: white;
  font-size: 16px;
  padding: 20px;
  background-color: rgba(255,255,255,.2);
}
.ms-img {
  margin: 10px;
}
p {
  font-family: 'Roboto', sans-serif;
}
.rain-drops {
  background: url(public/rain-drops.png);
  min-width: 100%;
  min-height: 500px;
  position: absolute;
  opacity: .3;
}
.tpoo {
  font-family: 'Antic Didone', serif;
  margin-bottom: 20px;
}
.twitter-box{
  background-color: rgba(255,255,255,.2);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 50px;
  text-align: center;
}
.sitr {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: -20px;
  margin-bottom: -10px;
  font-size: 60px;
}
.sunny-right {
  margin: 50px;
  text-align: center;
  background-color: rgba(255,255,255,.2);
}
#rain-2 {
  margin-top: -50px;
  margin-left: -50px;
}
.whsc {
  padding: 15px;
  font-family: 'Antic Didone', serif;
  color: white;
}